 <section id="orders">
          {{#if orders}}
            <h1>Current orders</h1>
            {{#each orders}}
            <div class="order">
                <p class="productOrder">{{name}}</p>
                <p class="productPrice">${{price}}</p>

            </div>
          {{/each}}

            <div id="totalSection">
                <hr>
                <div class="total">
                    <p class="subtotal">Subtotal</p>
                    <p class="totalPrice">${{totalPrice}}</p>
                </div>

                <div class="total">

                    <p class="subtotal">Shipping</p>
                    <p class="totalPrice">None</p>
                </div>
                <hr>
                <div class="total">

                    <p class="subtotal" id="totalName">Total</p>
                    <p class="totalPrice" id="overallPrice">${{totalPrice}}</p>
                </div>
            </div>

            
            <button>Checkout</button>
            {{else}}
            <h1>No orders yet!</h1>
            <hr>
            {{/if}}
        </section>